.qk_z0 {
  z-index: 0;
}

.qk_z1 {
  z-index: 1;
}

.qk_z2 {
  z-index: 2;
}

.qk_z3 {
  z-index: 3;
}

.qk_z4 {
  z-index: 4;
}

.qk_fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 允许下拉 */
.ofy{
  overflow-y: auto;
  height: 100%;
}


/* 点选 */
.click_none {
  /* pointer-event: none; */
  pointer-events: none;
}

/* 加速渲染 */
.testRender {
  content-visibility: auto;
}