@charset "utf-8";
/* CSS Document */
body,html{
	font-size:12px;
	font-family:"微软雅黑";
  background-color: #f2f2f2;
}
*{ 
	margin:0;
	padding:0;
}
.cesium-performanceDisplay-defaultContainer{
  top: auto;
  bottom: 2px;
  right: 60px;
  /*width: 120px;*/
  /*display: none;*/
}
.cesium-performanceDisplay{
  background: transparent;
  border:none;
}
.cesium-performanceDisplay-ms{
  float:left;
  margin-right:8px;
}
.cesium-performanceDisplay-fps{
  float: left;
}
.compass{
  top:10px;
}
.navigation-controls{
  top:100px;
}
.cssanimat
{
  -webkit-transition: all .5s;
  transition: all .5s;
}
.unselected
{
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
/*自定义滚动条-------开始*/
::-webkit-scrollbar-track:horizontal
{
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
}
#distanceLegendDiv{
  display: none;
}
::-webkit-scrollbar
{
  width: 4px;
  height:4px;
  background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar-thumb
{
  border-radius:5px;
  background-color: #CBCBCB;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: #ABA0A0;
  cursor: pointer;
}
/*自定义滚动条-------结束*/
div
{
	box-sizing: border-box;
}
.float_right{
  float: right;
}
.windycanvas_list{
    position: absolute;
    width: 360px;
    line-height:34px;
    right:20px;
    top:20px;
    z-index: 100;
}
.windycanvas_row{
  position: relative;
  float: left;
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin-bottom: 8px;
  color: #fff;
}
.windycanvas_row .name{
  float: left;
  width: 100px;
  height: 100%;
}
.windycanvas_row .slidercont{
  float: left;
  width: calc(100% - 100px);
  height: 100%;
}
.slidercont .sliderbaritem{
  margin:15px 0px;
  width: 100%;
}
.sliderbaritem .layui-slider-input{
  border:none;
  background: transparent;
}
.sliderbaritem .layui-slider-input .layui-slider-input-txt input{
  background-color: transparent;
    color: #ffffff;
}
.layui-slider-input-btn{
  border:none;
}
.layui-slider-input-btn i:first-child{
  border:none;
}
.windycanvas_formcont{
    position: relative;
    color: #ffffff;
    width: 100%;
    margin-right:12px;
    float: left;
}
.windycanvas_colorpanelbg{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 25px;
    bottom: 7px;
    right: 4px;
}
.windycanvas_span{
  float:left;
  margin-right:64px;
    display: inline-block;
}
.windycanvas_formitem {
    box-sizing: border-box;
    display: block;
    float:left;
    width: 69%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f5f5f5;
    background: rgba(30, 72, 125,.9);
    background-image: none;
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}